h1
      {
          font-size: 40px;
          color: black;
          text-align: center;
          background-size: 100%;
      }
h2
      { 
          font-size: 32px:
          color: red;
          text-align: left;
          background-color: skyblue;
          background-size: 100%;
      }
s


