h1
      {
          font-size: 45px;
          color: black;
          text-align: center;
          background-image: url(https://suret.pics/uploads/posts/2023-09/1695313607_1-2.jpg);
          background-size: 100%;
      }
h2
      { 
          font-size: 35px;
          color: red;
          text-align: left;
          background-color: green;
          background-size: 100%;
      }
a
      {
          font-size: 28px;
          color: black;
          text-align: left;
      }



